mixin mobile-menu()
    +b.mobile-list
        +b.UL.mobile-menu
            +e.LI._item
                +e.A._link
                    +b.I.icon.icon-24 menu
            +e.LI._item
                +e.A._link
                    +b.I.icon.icon-24 search
