mixin mobile-menu()
    +b.mobile-menu
        +e.header
            +e.A.link(href='/login/') Вход
            +e.A.link(href='#') Регистрация
        +b.UL.group-list
            +e.LI.item
                +e.A.link Запчасти для инструмента
                +e.A.toggle
                +b.UL.sub-group-list
                    +e.LI.item
                        +e.A.link Запчасти
                    +e.LI.item
                        +e.A.link Запчасти
                    +e.LI.item
                        +e.A.link Запчасти
            +e.LI.item
                +e.A.link Запчасти для бытовой техники
                +e.A.toggle
                +b.UL.sub-group-list
                    +e.LI.item
                        +e.A.link Запчасти
                    +e.LI.item
                        +e.A.link Запчасти
                    +e.LI.item
                        +e.A.link Запчасти
        +b.UL.mobile-menu-info
            +e.LI.item._phone
                +e.A.link +7 (4912) 513-115
                    +b.icon.icon-24 phone
            +e.LI.item._email info@shop-zip.ru
            +e.LI.item._address г. Рязань, ул.Зубковой 8А