mixin mobile-menu()
    +b.mobile-menu
        +e.header
            +e.A.link(href='/login/') Вход
            +e.A.link(href='#') Регистрация
        +b.UL.group-list
            +e.LI.item
                +e.A.link Запчасти для инструмента
                +e.A.toggle
                +b.UL.sub-group-list
                    +e.LI.item
                        +e.A.link Запчасти
                    +e.LI.item
                        +e.A.link Запчасти
                    +e.LI.item
                        +e.A.link Запчасти
            +e.LI.item
                +e.A.link Запчасти для бытовой техники
                +e.A.toggle
                +b.UL.sub-group-list
                    +e.LI.item
                        +e.A.link Запчасти
                    +e.LI.item
                        +e.A.link Запчасти
                    +e.LI.item
                        +e.A.link Запчасти
            +e.LI.item
                +e.A.link(href='service.html') Сервисный центр
            +e.LI.item
                +e.A.link(href='contact.html') Контакты
        +b.UL.mobile-menu-info
            +e.LI.item
                +e.A.link._phone +7 (4912) 513-115
            +e.LI.item
                +e.A.link._email info@shop-zip.ru
            +e.LI.item
                +e.A.link._address г.Рязань, ул.Зубковой 8А