.mobile-list
  position absolute
  top 50%
  left 15px

.mobile-menu
  padding-top 0.3rem
  transform translateY(-50%)

.mobile-menu___item
  display inline-block
  vertical-align middle

.mobile-menu .mobile-menu___item:first-child
  margin-right 1rem