.question
  position relative
  height 29.25rem
  margin-bottom 2.3rem
  padding-left 12rem
  padding-right 35rem
  padding-top 2.25rem
  &:after
    position absolute
    right 0
    bottom 0
    width 315px
    height 439px
    content ''
    background: url('../img/phone.png') no-repeat
  +between($tablet-landspace, $desktop)
    padding-right 25rem
  +below($tablet-landspace)
    height 26rem
    padding-x(0)
    &:after
      display none
  +below($phone)
    height auto
    padding-x(1rem)


.question__title
  margin-bottom 0.75rem
  font-size 2.25rem
  font-weight 700
  text-align left
  color rgb(34, 34, 34)
  +below($tablet-landspace)
    text-align center

.question__text
  font-size 1.125rem
  font-weight 300
  text-align left
  +below($tablet-landspace)
    text-align center

.question__agree
  position absolute
  left 12rem
  bottom 2.25rem
  width 24rem
  font-size 0.75rem
  +below($tablet-landspace)
    bottom 1rem
    left 0
    right 0
    margin-x(auto)
    font-size 1rem
    text-align center
  +below($phone)
    position relative
    bottom auto
    left auto
    right auto
    width 80%
    margin-x(auto)
    padding-y(1rem)


.question-form
  margin-top 1.125rem
  +below($tablet-landspace)
    text-align center

.question-form__filed
  margin-top 0.8rem

.question-form__field_button
  margin-top 2rem
  +below($tablet-landspace)
    margin-top 1.2rem

.question-form__label,
.question-form__input
  display block

.question-form__label
  font-size 14px
  color rgb(238, 238, 238)
  +below($tablet-landspace)
    font-size 1.2rem

.question-form__input
  width 22rem
  margin-y(0.25rem)
  padding-y(0.4rem)
  padding-x(0.625rem)
  color rgb(34, 34, 34)
  +below($tablet-landspace)
    margin-x(auto)
    margin-top 1rem
  +below($phone)
    width 70%

.question-form__button
  margin-top 1rem
  margin-bottom 0.5rem
  padding-y(12px)
  padding-x(48px)
  display block
  border-radius 3px
  border none
  font-size 0.875rem
  font-weight 500
  background-color rgb(255,109,75)
  color $white
  text-transform uppercase
  will-change box-shadow, transform
  transition box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1)
  &:hover
    box-shadow 0 15px 10px -8px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.1)
    outline none
    text-decoration none
  +below($tablet-landspace)
    width 22rem
  +below($phone)
    width 70%