.question
  position relative
  height 29.25rem
  margin-bottom 2.3rem
  padding-left 12rem
  padding-right 35rem
  padding-y(2.25rem)
  &:after
    position absolute
    right 0
    bottom 0
    width 456px
    height 468px
    content ''
    background-image url('../img/phone.png')

.question__title
  margin-bottom 0.75rem
  font-size 2.25rem
  font-weight 700
  text-align left
  color rgb(34, 34, 34)

.question__text
  font-size 1.125rem
  font-weight 300
  text-align left

.question__agree
  position absolute
  left 12rem
  bottom 2.25rem
  width 24rem
  font-size 0.75rem

.question-form
  margin-top 1.125rem

.question-form__filed
  margin-top 0.8rem

.question-form__field_button
  margin-top 2rem

.question-form__label,
.question-form__input
  display block

.question-form__label
  font-size 14px
  color rgb(238, 238, 238)

.question-form__input
  width 22rem
  margin-y(0.25rem)
  padding-y(0.4rem)
  padding-x(0.625rem)
  color rgb(34, 34, 34)

.question-form__button
  width 11rem
  height 2rem
  border none
  font-size 0.875rem
  font-weight 500
  background-color rgb(255, 166, 77)
  color rgb(34, 34, 34)