include ../row/row

mixin parts()
    +row
        +b.parts
            +e.H2.title Запчасти для инструмента
            +b.part
                +b.part-item
                    +e.A.link(href='/')
                        +e.IMG.image(src='../assets/img/part-icon/electrotool.png' srcset='../assets/img/part-icon/electrotool@2x.png 2x')
                    +e.A.text Запчасти для электроинструмента
                    +e.A.button(href='') перейти
                +b.part-item
                    +e.A.link(href='/')
                        +e.IMG.image(src='../assets/img/part-icon/electrotool.png' srcset='../assets/img/part-icon/electrotool@2x.png 2x')
                    +e.A.text Запчасти для электроинструмента
                    +e.A.button(href='') перейти
                +b.part-item
                    +e.A.link(href='/')
                        +e.IMG.image(src='../assets/img/part-icon/electrotool.png' srcset='../assets/img/part-icon/electrotool@2x.png 2x')
                    +e.A.text Запчасти для электроинструмента
                    +e.A.button(href='') перейти
                +b.part-item
                    +e.A.link(href='/')
                        +e.IMG.image(src='../assets/img/part-icon/electrotool.png' srcset='../assets/img/part-icon/electrotool@2x.png 2x')
                    +e.A.text Запчасти для электроинструмента
                    +e.A.button(href='') перейти
            +e.H2.title Запчасти для бытовой техники
            +b.part
                +b.part-item
                    +e.A.link(href='/')
                        +e.IMG.image(src='../assets/img/part-icon/electrotool.png' srcset='../assets/img/part-icon/electrotool@2x.png 2x')
                    +e.A.text Запчасти для электроинструмента
                    +e.A.button(href='') перейти
                +b.part-item
                    +e.A.link(href='/')
                        +e.IMG.image(src='../assets/img/part-icon/electrotool.png' srcset='../assets/img/part-icon/electrotool@2x.png 2x')
                    +e.A.text Запчасти для электроинструмента
                    +e.A.button(href='') перейти
                +b.part-item
                    +e.A.link(href='/')
                        +e.IMG.image(src='../assets/img/part-icon/electrotool.png' srcset='../assets/img/part-icon/electrotool@2x.png 2x')
                    +e.A.text Запчасти для электроинструмента
                    +e.A.button(href='') перейти
                +b.part-item
                    +e.A.link(href='/')
                        +e.IMG.image(src='../assets/img/part-icon/electrotool.png' srcset='../assets/img/part-icon/electrotool@2x.png 2x')
                    +e.A.text Запчасти для электроинструмента
                    +e.A.button(href='') перейти