include ../row/row
include catalog-sidebar/catalog-sidebar
include catalog-main/catalog-main
mixin catalog-page()
    +row
        +b.catalog-page
            +catalog-sidebar
            +catalog-main
