mixin olives()
    +b.container
        +b.row
            +b.olives
                +e.text Добро пожаловать! Наш интернет магазин предоставляет широкий ассортимент продукции для ремонта и обслуживания инструмента. А так же товары для полного ремонта бытовой техники и проиборов.