.mobile-list
  position absolute
  top 50%
  left 15px

.menu-left
  padding-top 0.3rem
  transform translateY(-50%)

.menu-left__item
  display inline-block
  vertical-align middle

.menu-left .menu-left__item:first-child
  margin-right 1rem