mixin mobile-list()
    +b.mobile-list
        +b.UL.menu-left
            +e.LI.item
                +e.A.link._menu
                    +b.I.icon.icon-24 menu
            +e.LI.item
                +e.A.link._search
                    +b.I.icon.icon-24 search
