include ../row/row

mixin catalog()
    +row
        +b.catalog
            +e.H2.title Популярные товары в наличии
            +b.products
                +b.product-item
                    +e.A.link(href='')
                        +e.IMG.image(src='../assets/img/product.png')
                        +e.A.name Амортизатор для стиральной машины INDESIT 100H L183-225mm d10mm M5 097259
                        +e.DIV.prices
                            +e.SPAN.price._blue 1 326
                            +b.SPAN.price руб./шт
                        +e.DIV.buy
                            +b.control
                                +e.button._minus -
                                +e.INPUT.coount(placeholder='0')
                                +e.button._plus +
                            +e.A.button(href='#') Добавить в корзину
                +b.product-item
                    +e.A.link(href='')
                        +e.IMG.image(src='../assets/img/product.png')
                        +e.A.name Амортизатор для стиральной машины INDESIT 100H L183-225mm d10mm M5 097259
                        +e.DIV.prices
                            +e.SPAN.price._blue 1 326
                            +b.SPAN.price руб./шт
                        +e.DIV.buy
                            +b.control
                                +e.button._minus -
                                +e.INPUT.coount(placeholder='0')
                                +e.button._plus +
                            +e.A.button(href='#') Добавить в корзину
                +b.product-item
                    +e.A.link(href='')
                        +e.IMG.image(src='../assets/img/product.png')
                        +e.A.name Амортизатор для стиральной машины INDESIT 100H L183-225mm d10mm M5 097259
                        +e.DIV.prices
                            +e.SPAN.price._blue 1 326
                            +b.SPAN.price руб./шт
                        +e.DIV.buy
                            +b.control
                                +e.button._minus -
                                +e.INPUT.coount(placeholder='0')
                                +e.button._plus +
                            +e.A.button(href='#') Добавить в корзину
                +b.product-item
                    +e.A.link(href='')
                        +e.IMG.image(src='../assets/img/product.png')
                        +e.A.name Амортизатор для стиральной машины INDESIT 100H L183-225mm d10mm M5 097259
                        +e.DIV.prices
                            +e.SPAN.price._blue 1 326
                            +b.SPAN.price руб./шт
                        +e.DIV.buy
                            +b.control
                                +e.button._minus -
                                +e.INPUT.coount(placeholder='0')
                                +e.button._plus +
                            +e.A.button(href='#') Добавить в корзину
                +b.product-item
                    +e.A.link(href='')
                        +e.IMG.image(src='../assets/img/product.png')
                        +e.A.name Амортизатор для стиральной машины INDESIT 100H L183-225mm d10mm M5 097259
                        +e.DIV.prices
                            +e.SPAN.price._blue 1 326
                            +b.SPAN.price руб./шт
                        +e.DIV.buy
                            +b.control
                                +e.button._minus -
                                +e.INPUT.coount(placeholder='0')
                                +e.button._plus +
                            +e.A.button(href='#') Добавить в корзину
                +b.product-item
                    +e.A.link(href='')
                        +e.IMG.image(src='../assets/img/product.png')
                        +e.A.name Амортизатор для стиральной машины INDESIT 100H L183-225mm d10mm M5 097259
                        +e.DIV.prices
                            +e.SPAN.price._blue 1 326
                            +b.SPAN.price руб./шт
                        +e.DIV.buy
                            +b.control
                                +e.button._minus -
                                +e.INPUT.coount(placeholder='0')
                                +e.button._plus +
                            +e.A.button(href='#') Добавить в корзину
                +b.product-item
                    +e.A.link(href='')
                        +e.IMG.image(src='../assets/img/product.png')
                        +e.A.name Амортизатор для стиральной машины INDESIT 100H L183-225mm d10mm M5 097259
                        +e.DIV.prices
                            +e.SPAN.price._blue 1 326
                            +b.SPAN.price руб./шт
                        +e.DIV.buy
                            +b.control
                                +e.button._minus -
                                +e.INPUT.coount(placeholder='0')
                                +e.button._plus +
                            +e.A.button(href='#') Добавить в корзину
                +b.product-item
                    +e.A.link(href='')
                        +e.IMG.image(src='../assets/img/product.png')
                        +e.A.name Амортизатор для стиральной машины INDESIT 100H L183-225mm d10mm M5 097259
                        +e.DIV.prices
                            +e.SPAN.price._blue 1 326
                            +b.SPAN.price руб./шт
                        +e.DIV.buy
                            +b.control
                                +e.button._minus -
                                +e.INPUT.coount(placeholder='0')
                                +e.button._plus +
                            +e.A.button(href='#') Добавить в корзину
                +b.product-item
                    +e.A.link(href='')
                        +e.IMG.image(src='../assets/img/product.png')
                        +e.A.name Амортизатор для стиральной машины INDESIT 100H L183-225mm d10mm M5 097259
                        +e.DIV.prices
                            +e.SPAN.price._blue 1 326
                            +b.SPAN.price руб./шт
                        +e.DIV.buy
                            +b.control
                                +e.button._minus -
                                +e.INPUT.coount(placeholder='0')
                                +e.button._plus +
                            +e.A.button(href='#') Добавить в корзину
                +b.product-item
                    +e.A.link(href='')
                        +e.IMG.image(src='../assets/img/product.png')
                        +e.A.name Амортизатор для стиральной машины INDESIT 100H L183-225mm d10mm M5 097259
                        +e.DIV.prices
                            +e.SPAN.price._blue 1 326
                            +b.SPAN.price руб./шт
                        +e.DIV.buy
                            +b.control
                                +e.button._minus -
                                +e.INPUT.coount(placeholder='0')
                                +e.button._plus +
                            +e.A.button(href='#') Добавить в корзину
                +b.product-item
                    +e.A.link(href='')
                        +e.IMG.image(src='../assets/img/product.png')
                        +e.A.name Амортизатор для стиральной машины INDESIT 100H L183-225mm d10mm M5 097259
                        +e.DIV.prices
                            +e.SPAN.price._blue 1 326
                            +b.SPAN.price руб./шт
                        +e.DIV.buy
                            +b.control
                                +e.button._minus -
                                +e.INPUT.coount(placeholder='0')
                                +e.button._plus +
                            +e.A.button(href='#') Добавить в корзину
                +b.product-item
                    +e.A.link(href='')
                        +e.IMG.image(src='../assets/img/product.png')
                        +e.A.name Амортизатор для стиральной машины INDESIT 100H L183-225mm d10mm M5 097259
                        +e.DIV.prices
                            +e.SPAN.price._blue 1 326
                            +b.SPAN.price руб./шт
                        +e.DIV.buy
                            +b.control
                                +e.button._minus -
                                +e.INPUT.coount(placeholder='0')
                                +e.button._plus +
                            +e.A.button(href='#') Добавить в корзину