include ../row/row

mixin catalog()
    +row
        +b.catalog
            +e.H2.title Популярные товары в наличии
            +b.UL.catalog-list
                +b.LI.catalog-item._home
                    +e.A.image
                        +e.IMG(src='../assets/img/product.png')
                    +e.A.title(href='product.html') Амортизатор для стиральной машины INDESIT 100H L183-225mm d10mm M5 097259
                    +e.price 1 326 руб.
                    +e.price._opt 1 526 руб.
                    +e.A.button(href='product.html') Купить
                +b.LI.catalog-item._home
                    +e.A.image
                        +e.IMG(src='../assets/img/product.png')
                    +e.A.title(href='product.html') Амортизатор для стиральной машины INDESIT 100H L183-225mm d10mm M5 097259
                    +e.price 1 326 руб.
                    +e.price._opt 1 526 руб.
                    +e.A.button(href='product.html') Купить
                +b.LI.catalog-item._home
                    +e.A.image
                        +e.IMG(src='../assets/img/product.png')
                    +e.A.title(href='product.html') Амортизатор для стиральной машины INDESIT 100H L183-225mm d10mm M5 097259
                    +e.price 1 326 руб.
                    +e.price._opt 1 526 руб.
                    +e.A.button(href='product.html') Купить
                +b.LI.catalog-item._home
                    +e.A.image
                        +e.IMG(src='../assets/img/product.png')
                    +e.A.title(href='product.html') Амортизатор для стиральной машины INDESIT 100H L183-225mm d10mm M5 097259
                    +e.price 1 326 руб.
                    +e.price._opt 1 526 руб.
                    +e.A.button(href='product.html') Купить
                +b.LI.catalog-item._home
                    +e.A.image
                        +e.IMG(src='../assets/img/product.png')
                    +e.A.title(href='product.html') Амортизатор для стиральной машины INDESIT 100H L183-225mm d10mm M5 097259
                    +e.price 1 326 руб.
                    +e.price._opt 1 526 руб.
                    +b.catalog-tooltip
                        +e.container Привет
                    +e.A.button(href='product.html') Купить
                +b.LI.catalog-item._home
                    +e.A.image
                        +e.IMG(src='../assets/img/product.png')
                    +e.A.title(href='product.html') Амортизатор для стиральной машины INDESIT 100H L183-225mm d10mm M5 097259
                    +e.price 1 326 руб.
                    +e.price._opt 1 526 руб.
                    +b.catalog-tooltip
                        +e.container Привет
                    +e.A.button(href='product.html') Купить
                +b.LI.catalog-item._home
                    +e.A.image
                        +e.IMG(src='../assets/img/product.png')
                    +e.A.title(href='product.html') Амортизатор для стиральной машины INDESIT 100H L183-225mm d10mm M5 097259
                    +e.price 1 326 руб.
                    +e.price._opt 1 526 руб.
                    +e.A.button(href='product.html') Купить