include ../row/row

mixin service-order()
    +row
        +b.service-order
            +e.SPAN.text Оставьте заявку и получите скидку 10% на проведение работ!
            +b.FORM.service-form
                +b.field-group
                    +e.INPUT.input._name(placeholder="Имя")
                    +e.INPUT.input._phone(placeholder="+7 (999) 999-99-99")
                    +e.INPUT.input._button(type='submit' value="Отправить")
            +b.border
        +b.H3.service-title Мы способны устранить 100% ваших поломок <br> 91% поломок устраняются в день обращения
        +b.UL.service-list
            +e.LI.item
                +e.A.link
                    +e.IMG(src="../assets/img/washing.png")
                +e.A.name Ремонт стиральных машин
                +b.DIV.service-price от <span>800</span> руб