.container
  margin-x(auto)
  padding-x(15px)
  +above($phone)
    max-width 33.75rem
  +above($tablet-portrait)
    max-width 45rem
  +above($tablet-landspace)
    max-width 60rem
  +above($desktop)
    max-width 80rem

.container-fullwidth
  max-width 87.5rem
  margin-x(auto)
  padding-x(15px)

.container_orange,.container-fluid_orange
  background-color: rgb(255, 166, 77)

.container_blue,.container-fluid_blue
  background radial-gradient(circle at 69% 63%, #6cc0ec, #6eb3e7)

.container_grey,.container-fluid_grey
  background-color  rgb(247, 247, 247)
  box-shadow: 3px 0 3px rgb(221, 221, 221)

.container_dark,.container-fluid_dark
  background-color  rgb(50, 54, 57)
