.container.container_orange
  background-color: rgb(255, 166, 77)
.container.container_blue
  background rgb(33, 131, 203)
.container.container_light-blue
  background radial-gradient(circle at 69% 63%, #6cc0ec, #6eb3e7)
.container.container_grey
  background-color  rgb(247, 247, 247)
  border-bottom: 1px solid rgb(221, 221, 221)

.container.container_dark
  background-color  rgb(50, 54, 57)
