.cart
  padding-y(0.5rem)
  padding-left 0.5rem
  border-left 1px solid rgb(221,221,221)
  display inline-block
  vertical-align top
  +below($tablet-landspace)
    border-left none
    transform: translateY(-50%);

.cart__link,
.cart__prices
  display inline-block
  vertical-align top

.cart__link
  position relative

.cart__count
  position absolute
  top -6px
  right -6px
  width 21px
  height 21px
  display block
  border-radius 50%
  background-color rgb(255, 166, 77)
  text-align center

.cart__count span
  font-size 10px
  font-weight 700
  line-height 21px
  color rgb(255, 255, 255)

.cart__prices
  margin-left 0.8rem
  font-size 14px
  color rgb(1, 1, 1)
  +below($tablet-landspace)
    display none

.cart__text
  margin-bottom 0.5rem

.cart__price
  font-size 0.6875rem