.cart
  margin-left 4.5rem
  display inline-block
  vertical-align middle
.cart__link,
.cart__price
  display inline-block
  vertical-align middle
.cart__link
  position relative
.cart__count
  position absolute
  top -6px
  right -6px
  width 21px
  height 21px
  display block
  border-radius 50%
  background-color rgb(255, 166, 77)
  text-align center
.cart__count span
  font-size 10px
  font-weight 700
  line-height 21px
  color rgb(255, 255, 255)
.cart__price
  margin-left 0.3rem
  font-size 18px
  font-weight 700
  color rgb(34, 34, 34)