mixin cart()
        +b.cart
            +e.A.link(href='/cart')
                +e.count
                    +e.SPAN 1
                +e.IMG(src='../assets/img/cart.svg')
            +e.prices
                +e.text Корзина
                +e.price всего 16 945 руб.