mixin catalog-sidebar()
    +b.catalog-sidebar
        +b.UL.sidebar-nav
            +e.LI.item
                +e.A.link Запчасти для электроинструмента
            +e.LI.item
                +e.A.link Запчасти для электроинструмента
            +e.LI.item
                +e.A.link Запчасти для электроинструмента
        +b.sidebar-filter
            +e.title Подбор параметров
            +b.FORM.form-filter
                +e.group
                    +e.field
                        +e.LABEL.label(for='of') От
                        +e.INPUT.input(id='of')
                    +e.field
                        +e.LABEL.label(for='to') До
                        +e.INPUT.input(id='to')
                +e.control
                    +e.field
                        +e.INPUT.show(type='submit' value='Показать')
                    +e.field
                        +e.INPUT.clear(type='submit' value='Сбросить')