mixin catalog-sidebar()
    +b.catalog-sidebar
        +b.UL.sidebar-nav
            +e.LI.item
                +e.H4.title Электробензоинструмент
                +b.UL.catalog-menu
                    +e.LI.item
                        +e.A.link Запчасти для электроинструмента
                        +e.A.toggle._open
                        +b.UL.sub-catalog-menu
                            +e.LI.item
                                +e.A.link Выключатели (кнопки)
                            +e.LI.item
                                +e.A.link Гильзы
                            +e.LI.item
                                +e.A.link Двигатели
            +e.LI.item
                +e.H4.title Электробензоинструмент
                +b.UL.catalog-menu
                    +e.LI.item
                        +e.A.link Запчасти для электроинструмента
                        +e.A.toggle
                            +b.UL.sub-catalog-menu
                                +e.LI.item
                                    +e.A.link._active Выключатели (кнопки)
                                +e.LI.item
                                    +e.A.link Гильзы
                                +e.LI.item
                                    +e.A.link Двигатели
        +b.sidebar-filter
            +e.title Подбор параметров
            +b.FORM.form-filter
                +e.group
                    +e.field
                        +e.LABEL.label(for='of') От
                        +e.INPUT.input(id='of')
                    +e.field
                        +e.LABEL.label(for='to') До
                        +e.INPUT.input(id='to')
                +e.control
                    +e.field
                        +e.INPUT.show(type='submit' value='Показать')
                    +e.field
                        +e.INPUT.clear(type='submit' value='Сбросить')