.catalog-list
  position relative
  display flex
  flex-wrap wrap

.catalog-item
  width 25%
  flex-basis 25%
  padding 0 20px 15px 20px
  box-shadow 0 1px 3px 0px rgba(0, 0, 0, 0.1)
  background $white
  text-decoration none
  text-align center
  cursor pointer
  transition all 0.2s
  overflow hidden
  &:hover
    margin-top -8px
    margin-bottom 8px
    text-decoration none
    box-shadow 0 15px 10px -8px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.1)

.catalog-item__image
  height 144px

.catalog-item__image,
.catalog-item__image img
  display block

.catalog-item__image img
  margin 0 auto

.catalog-item__title
  width 180px
  display block
  color #337ab7
  text-decoration none
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  -moz-binding url('ellipsis.xml#ellipsis')
  text-align center
  &:hover
    text-decoration none

@supports (display -webkit-box)
  .catalog-item__title
    white-space normal
    display -webkit-box
    -webkit-box-orient vertical
    -webkit-line-clamp 2

.catalog-item__price
  padding-top 0.4rem
  font-size 1.2rem
  font-weight 500
  color rgb(51,51,51)

.catalog-item__price_opt
  position relative
  padding-y(0.1rem)
  font-size 14px
  font-weight 400
  color #ff6d4b
  &:before
    padding-right 0.5rem
    content 'Опт:'
    color: rgb(1,1,1)

.catalog-tooltip
  position relative
  width 18px
  height 18px
  line-height 18px
  padding-left 10px
  border-radius 50%
  box-shadow 0 0 3px rgba(0, 0, 0, 0.6)
  color #ff6d4b
  text-align center
  transition all .2s ease-in-out
  &:before
    position absolute
    left 0
    right 0
    content '?'
  &:hover
    box-shadow 1px 2px 8px rgba(0, 0, 0, 0.6)

.catalog-item__price_opt,
.catalog-tooltip
  display inline-block
  vertical-align middle

.catalog-tooltip__container
  position absolute
  z-index 1000
  padding 10px 15px
  left 10px
  width 140px
  display none
  background rgb(255,255,255)
  box-shadow 0 0 3px rgba(0, 0, 0, 0.6)


.catalog-item__button
  margin-top 1rem
  margin-x(2rem)
  margin-bottom 0.5rem
  padding-y(12px)
  padding-x(36px)
  display block
  border-radius 3px
  background #ff6d4b
  color $white
  letter-spacing 0
  will-change box-shadow, transform
  transition box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1)
  &:hover
    box-shadow 0 15px 10px -8px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.1)
    outline none
    text-decoration none

.catalog-item__info
  margin-top 1rem
  margin-bottom 0.5rem
  padding-y(0.6rem)
  padding-x(1rem)