mixin catalog-main()
    +b.catalog-main
        +b.UL.catalog-list
            +b.LI.catalog-item
                +e.A.image
                    +e.IMG(src='../assets/img/product.png')
                +e.A.title(href='product.html') Амортизатор для стиральной машины INDESIT 100H L183-225mm d10mm M5 097259
                +e.price 1 326 руб.
                +e.price._opt 1 526 руб.
                +e.A.button(href='product.html') Купить
            +b.LI.catalog-item
                +e.A.image
                    +e.IMG(src='../assets/img/product.png')
                +e.A.title(href='product-out.html') Амортизатор для стиральной машины INDESIT 100H L183-225mm d10mm M5 097259
                +e.price 1 326 руб.
                +e.price._opt 1 526 руб.
                +e.A.button(href='product.html') Купить
            +b.LI.catalog-item
                +e.A.image
                    +e.IMG(src='../assets/img/product.png')
                +e.A.title(href='product.html') Амортизатор для стиральной машины INDESIT 100H L183-225mm d10mm M5 097259
                +e.price 1 326 руб.
                +e.price._opt 1 526 руб.
                +e.A.button(href='product.html') Купить
            +b.LI.catalog-item
                +e.A.image
                    +e.IMG(src='../assets/img/product.png')
                +e.A.title(href='product.html') Амортизатор для стиральной машины INDESIT 100H L183-225mm d10mm M5 097259
                +e.price 1 326 руб.
                +e.price._opt 1 526 руб.
                +e.A.button(href='product.html') Купить
            +b.LI.catalog-item
                +e.A.image
                    +e.IMG(src='../assets/img/product.png')
                +e.A.title(href='product.html') Амортизатор для стиральной машины INDESIT 100H L183-225mm d10mm M5 097259
                +e.price 1 326 руб.
                +e.price._opt 1 526 руб.
                +e.A.opt-info(href='#')
                +e.A.button(href='product.html') Купить
            +b.LI.catalog-item
                +e.A.image
                    +e.IMG(src='../assets/img/product.png')
                +e.A.title(href='product.html') Амортизатор для стиральной машины INDESIT 100H L183-225mm d10mm M5 097259
                +e.price 1 326 руб.
                +e.price._opt 1 526 руб.
                +e.A.button(href='product.html') Купить
            +b.LI.catalog-item
                +e.A.image
                    +e.IMG(src='../assets/img/product.png')
                +e.A.title(href='product.html') Амортизатор для стиральной машины INDESIT 100H L183-225mm d10mm M5 097259
                +e.price 1 326 руб.
                +e.price._opt 1 526 руб.
                +e.A.button(href='product.html') Купить
