.search
  width 28.5rem
  margin-left 7rem
  display inline-block
  vertical-align middle
  opacity 0.8

.search-form
  width 100%
  padding-left 1.125rem
  padding-right 1rem
  padding-y(0.6rem)
  border solid 2px rgb(204, 204, 204)
  border-radius 6.25rem

.search-form__input
  width 23rem
  height 1rem
  border none
  font-size 0.875rem

.search-form__button
  width 24px
  height 24px
  border none
  background url(../img/search.svg) transparent

.search-form__input,
.search-form__button
  display inline-block
  vertical-align middle

