mixin catalog-product()
    +b.container
        +b.row
            +b.UL.breadcrumbs
                +e.LI.item._home
                    +e.A.link(href='/')
                        +b.I.material-icons home
                +e.LI.item Кожух для болгарки 125 круг автоматический зажим
            +b.catalog-product(itemscope='' itemtype='http://schema.org/Product')
                +e.H1.title(itemprop='name') Кожух для болгарки 125 круг автоматический зажим
                +e.model
                    +e.code Код товара: <span itemprop='productID'>980049</span>
                +e.wrap
                    +e.images
                        +e.A.link(href='../assets/img/product.jpg')
                            +e.IMG.image(itemprop='image' src='../assets/img/product.jpg' width='576' height='432')
                        +e.DIV.thumb
                            +b.UL.thumb-images
                                +e.LI.item
                                    +e.A.link(href='../assets/img/product2.jpg')
                                        +e.IMG.images(itemprop='image' src='../assets/img/product2.jpg')
                    +e.desc
                        +e.title Краткое описание
                        +e.P Кожух для болгарки 125мм круг, автоматический зажим
                    +e.pay
                        +b.pay-block(itemprop='offers' itemscope itemtype='http://schema.org/Offer')
                            +e.price(itemprop='price') 270 руб.
                            +e.DIV.stock Наличие: много
                            +b.FORM.add2basket(method='POST')
                                +b.amount
                                    +e.A.minus._disabled(id='amount_minus' rel='nofollow' href='#') -
                                    +e.INPUT.quantity(name='quantity' type='text' id='quantity' value='1' autocomplete='off' max='5')
                                    +e.A.plus(id='amount_plus' rel='nofollow' href='#') +
                                    +e.SPAN.measure шт
                                    +e.amount-error На складе нет нужно количества
                                +e.BUTTON.button Купить
                +e.description
                    +b.UL.product-tab
                        +e.LI
                            +e.A.item._active(href="#tab-description") Описание
                        +e.LI
                            +e.A.item(href="#tab-character") Характеристики
                        +e.LI
                            +e.A.item(href="#tab-comments") Комментарии
                    +b.tab-content
                        +e.item(id='tab-description') Кожух для болгарки 125мм круг, автоматический зажим
                        +e.item(id='tab-character')
                        +e.item(id='tab-comments')

