mixin catalog-product()
    +b.container
        +b.row
            +b.UL.breadcrumbs
                +e.LI.item._home
                    +e.A.link(href='/')
                        +b.I.material-icons home
                +e.LI.item Кожух для болгарки 125 круг автоматический зажим
            +b.catalog-product(itemscope='' itemtype='http://schema.org/Product')
                +e.H1.title(itemprop='name') Кожух для болгарки 125 круг автоматический зажим
                +e.model
                    +e.code Код товара: <span itemprop='productID'>980049</span>
                +e.wrap
                    +e.image
                        +e.IMG.image(itemprop='image' src='../assets/img/product.jpg')
                    +e.pay
                        +b.pay-block(itemprop='offers' itemscope itemtype='http://schema.org/Offer')
                            +e.price(itemprop='price') 270 руб.

