mixin heading()
    +b.container_orange&attributes(attributes)
        +b.row&attributes(attributes)
            +b.heading&attributes(attributes)
                +e.A.link_article(href='#')&attributes(attributes) Полезные статьи
                +e.A.link_delivery(href='#')&attributes(attributes) Доставка
                +b.user-name&attributes(attributes)
                    +e.A.link(href='#')&attributes(attributes) Василий Кутузовский