mixin heading()
    +b.container-fluid._grey
        +b.container
            +b.row
                +b.heading
                    +b.UL.heading-menu
                        +e.LI.item._article
                            +e.A.link(href='#') Полезные статьи
                        +e.LI.item._delivery
                            +e.A.link(href='#') Доставка
                        +e.LI.item._map
                            +e.A.link(href='#') Карта сайта
                    //+b.user-name
                        //+e.A.link(href='#') Василий Кутузовский
                    +b.UL.login
                        +e.LI.item._in
                            +e.A.link(href="/") Войдите
                        +e.LI.item._reg
                            +e.A.link(href="/") Регистрация
