.heading
  height 2.25rem
  clearfix()

.heading-menu
  float left
  display block
  font-size 0.875rem
  list-style circle

.heading-menu__item
  position relative
  margin-right 0.625rem
  padding-left 1.8rem
  display inline-block
  vertical-align middle
  opacity 0.7
  &:hover
    opacity 1

.heading-menu__item_article:before,
.heading-menu__item_delivery:before,
.heading-menu__item_map:before
  position absolute
  top 8px
  left 0
  width 24px
  height 24px
  content ''

.heading-menu__item_article:before
  background-image url(../img/message.svg)

.heading-menu__item_delivery:before
  background-image url(../img/delivery.svg)

.heading-menu__item_map:before
  background-image url(../img/sitemap.svg)

.heading-menu__link
  display block
  line-height 2.25rem
  text-decoration none
  &:hover
    text-decoration underline
  color rgb(1, 1, 1)



.user-name
  float right
  height 100%

.user-name__link
  position relative
  display block
  font-family 'Helvetica Neue', sans-serif
  font-size 12px
  line-height 2.5rem
  text-decoration none
  opacity 0.8
  &:hover
    text-decoration underline
    opacity 1
  color rgb(1, 1, 1)

.user-name__link:before
  position absolute
  top 8px
  left -26px
  width 24px
  height 24px
  content ''
  background-image url(../img/user.svg)