mixin logo()
    +b.A.logo(href='/')&attributes(attributes)
        +b.IMG.__img(src='/assets/img/logo.png' scrset='/assets//img/logo@2x.png 2x' role='banner' alt='Магазин запчастей SHOP-ZIP' title='Магазин запчастей SHOP-ZIP')