mixin mobile-search()

    +b.mobile-search
        +b.FORM.mobile-search-form
            +b.input-group
                +e.INPUT.search(type='text')
                +e.BUTTON.submit(type='submit')
                    +b.I.icon.icon-24 search