mixin contact()
    +b.contact&attributes(attributes)
        +e.A.phone(href='tel:+74912513115')&attributes(attributes) +7 (4912) 513-115
        +e.A.mail(href='mailto:info@shopzip.ru') info@shopzip.ru