.contact
  padding-y(0.5rem)
  margin-right 1rem
  display inline-block
  vertical-align top
  +below($tablet-landspace)
    padding-top 0.3rem
    transform: translateY(-50%);

.contact__phone
  position relative
  display block
  text-align center
  text-decoration none
  &:hover
    text-decoration underline
  color rgb(1, 1, 1)
  +below($tablet-landspace)
    display none

.contact__phone:before
  position absolute
  left -20px
  width 1rem
  content ''

.contact__phone:before
  height 16px
  background-image url(../img/icon-phone.svg)

.contact__phone
  margin-bottom 0.5rem

.contact__hours
  font-size 0.75rem
  text-align right
  +below($tablet-landspace)
    display none

.contact__user
  display block
  width 29px
  height 29px
  background-image url(../img/login.svg)
  +above($tablet-landspace)
    display none