.banner
  position relative
  z-index 1
.banner__button
  position absolute
  left 5.625rem
  bottom 3.125rem
  width 15rem
  height 3.125rem
  line-height 3.125rem
  font-size 1.75rem
  font-weight 500
  display block
  background-color rgb(255, 166, 77)
  text-align center
  text-decoration none
  color rgb(1, 1, 1)