mixin banner
    +b.container-fullwidth
        +b.row
            +b.banner
                +e.item
                    +e.IMG.image(src='../assets/img/banner.png' width='1280')
                    +e.A.button(href='/service.html') Перейти
                +e.item
                    +e.IMG.image(src='../assets/img/banner_orange.png' width='1280')
                    +e.A.button(href='/service.html') Перейти