.banner
  position relative
  z-index 1

.banner__item
  position relative

.banner__image
  width 100%

.banner__button
  position absolute
  left 5.625rem
  bottom 3.125rem
  width 15rem
  height 3.125rem
  border 2px solid rgb(255, 255, 255)
  line-height 3.125rem
  font-size 1.1rem
  display block
  background transparent
  text-align center
  text-decoration none
  text-transform uppercase
  color rgb(255, 255, 255)
  transition all .4s ease-out
  &:hover
    background rgba(255, 255, 255, 0.8)
    border 2px solid rgba(255, 255, 255, 0.8)
    color rgb(1,1,1)
