.banner
  position relative
  z-index 1
  +below($phone)
    display none

.banner__item
  position relative

.banner__image
  width 100%
  max-width 100%
  display block

.banner__button
  position absolute
  left 5.625rem
  bottom 3.125rem
  width 15rem
  height 3.125rem
  line-height 3.125rem
  font-size 1.1rem
  display block
  border-radius 3px
  background rgb(255,109,75)
  text-align center
  text-decoration none
  text-transform uppercase
  color $white
  will-change box-shadow, transform
  transition box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1)
  &:hover
    box-shadow 0 15px 10px -8px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.1)
    outline none
    text-decoration none
  +below($tablet-landspace)
    display none
