.navbar
  +below($tablet-landspace)
    display none

.menu
  width 100%
  display flex
  justify-content space-between
  align-items center

.menu__item
  position relative
  flex-grow  1
  &:last-child
    border-right none
  &:hover .menu__link
    background-color rgb(166, 40, 62)
    color rgb(255, 255, 255)

.menu__item_sub
  &:hover .sub-menu
    z-index 4
    height 100%
    visibility visible
    opacity 1


.menu__item_sub .menu__link:after
  position absolute
  width 12px
  height 6px
  right 8px
  content '\23F7'
  color rgb(255, 255, 255)
  transition transform .3s ease-out

.menu__item_sub:hover .menu__link:after
  top 30px
  transform scale(1, -1)

.menu__link
  position relative
  padding-x(30px)
  font-size 0.8rem
  line-height 2.25rem
  display block
  text-align: center;
  text-decoration none
  text-transform uppercase
  color rgb(255, 255, 255)
  &:hover
    text-decoration none
  +below($desktop)
    padding-x(0)

.sub-menu
  position absolute
  top 100%
  left 0
  width 100%
  display block
  visibility hidden
  opacity 0
  transition .3s ease-in-out
  text-align center

.sub-menu__link
  padding-y(1rem)
  border-bottom 1px solid rgb(221, 221, 221)
  display block
  font-size 0.8rem
  text-decoration none
  text-transform uppercase
  background-color rgb(255, 255, 255)
  color rgb(1, 1, 1)
  transition all .3s ease-in-out
  white-space nowrap
  &:hover
    font-weight 700
    text-decoration none
