.menu
  width 100%
  border-left solid 1px  rgb(33, 131, 203)
  border-right solid 1px rgb(33, 131, 203)
  display flex
  justify-content space-between
  align-items center

.menu__item
  flex-grow  1
  height 2.25rem
  border-right solid 1px rgb(33, 131, 203)
  &:last-child
    border-right none
  &:hover .sub-menu
    z-index 2
    visibility visible
    opacity 1
  &:hover .menu__link
    background-color rgb(65, 169, 245)

.menu__link
  position relative
  padding-x(30px)
  font-size 12px
  line-height 2.25rem
  display block
  text-align: center;
  text-decoration none
  text-transform uppercase
  color rgb(255, 255, 255)

.menu__item_sub .menu__link:after
  position absolute
  width 12px
  height 6px
  right 8px
  content '\23F7'
  color rgb(255, 255, 255)

.sub-menu
  position relative
  border-left solid 1px  rgb(33, 131, 203)
  border-right solid 1px rgb(33, 131, 203)
  display block
  background-color rgb(33, 131, 203)
  visibility hidden
  opacity 0
  transition .3s ease-in-out

.sub-menu__item
  height 3.3rem

.sub-menu__link
  font-size 12px
  border-bottom solid 1px #238fdf
  display block
  line-height 3.3rem
  text-align center
  text-decoration none
  text-transform uppercase
  color rgb(255, 255, 255)
  transition .4s ease-in-out
  &:hover
    background-color rgb(65, 169, 245)