.menu
  width 100%
  display flex
  justify-content space-between
  align-items center

.menu__item
  flex-grow  1
  height 2.25rem
  &:last-child
    border-right none
  &:hover .sub-menu
    z-index 4
    visibility visible
    opacity 1
  &:hover .menu__link
    background-color rgb(166, 40, 62)
    color rgb(255, 255, 255)

.menu__item_sub .menu__link:after
  position absolute
  width 12px
  height 6px
  right 8px
  content '\23F7'
  color rgb(255, 255, 255)
  transition transform .4s ease-out

.menu__item_sub:hover .menu__link:after
  top 30px
  transform scale(1, -1)

.menu__link
  position relative
  padding-x(30px)
  font-size 12px
  line-height 2.25rem
  display block
  text-align: center;
  text-decoration none
  text-transform uppercase
  color rgb(255, 255, 255)

.sub-menu
  position relative
  display block
  background-color rgb(255, 255, 255)
  visibility hidden
  opacity 0
  transition .3s ease-in-out

.sub-menu__item
  height 3.3rem

.sub-menu__link
  font-size 12px
  border-bottom 1px solid rgb(221, 221, 221)
  display block
  line-height 3.3rem
  text-align center
  text-decoration none
  text-transform uppercase
  color rgb(1, 1, 1)
  transition .4s ease-in-out
  &:hover
    font-weight 500