.articles
  position relative

.articles__button
  position absolute
  width 1.5rem
  height 2.875rem
  top 50%
  border none
  display block
  content ''
  background url('../img/arrow.svg')
  +below($desktop)
    display none

.articles__button_left
  left -2.25rem

.articles__button_right
  right -2.25rem
  transform scale(-1, 1)

.articles__title
  position relative
  font-size 2.25rem
  font-weight 500
  text-align left
  color rgb(34, 34, 34)
  &:after
    position absolute
    top 50%
    right 0
    width 40rem
    height 0.1875rem
    content ''
    background-color  rgb(153, 153, 153)
  +below($tablet-landspace)
    text-align center
    &:after
      display none

.article
  margin-top 1.75rem
  margin-bottom 4.75rem

.article-item
  position relative
  width 16.1875rem
  height 18.375rem
  margin-x(auto)
  border solid 1px #979797

.article-item__link
  position relative
  height 66px
  margin-x(auto)
  padding-top 1.125rem
  padding-bottom 0.75rem
  padding-x(10px)
  font-size 1.125rem
  display block
  font-weight 700
  text-align center
  text-decoration none
  color rgb(34, 34, 34)
  &:hover
      text-decoration underline
  &:after
    position absolute
    bottom -15px
    left 0
    right 0
    width 4.125rem
    height 3px
    margin-x(auto)
    content ''
    background-color rgb(34, 34, 34)

.article-item__img
  position absolute
  bottom 0
  left 0
  right 0
  max-width 100%
  display block
  opacity .6

.article-item__read
  position absolute
  right 0
  left 0
  bottom 1.5rem
  width 9.125rem
  height 2rem
  margin-x(auto)
  line-height 2rem
  display block
  text-align center
  text-decoration none
  color rgb(34, 34, 34)
  background-color rgb(255, 166, 77)