include ../row/row

mixin articles()
    +row
        +b.articles
            +e.H2.title Полезные статьи
            +b.article
                +b.article-item
                    +e.A.link(href='/') Все об устройстве блокировки люка стиральной машины
                    +e.IMG.img(src='http://via.placeholder.com/257x201')
                    +e.A.read(href='/') Читать
                +b.article-item
                    +e.A.link(href='/') Все об устройстве блокировки люка стиральной машины
                    +e.IMG.img(src='http://via.placeholder.com/257x201')
                    +e.A.read(href='/') Читать
                +b.article-item
                    +e.A.link(href='/') Все об устройстве блокировки люка стиральной машины
                    +e.IMG.img(src='http://via.placeholder.com/257x201')
                    +e.A.read(href='/') Читать
                +b.article-item
                    +e.A.link(href='/') Все об устройстве блокировки люка стиральной машины
                    +e.IMG.img(src='http://via.placeholder.com/257x201')
                    +e.A.read(href='/') Читать
                +b.article-item
                    +e.A.link(href='/') Все об устройстве блокировки люка стиральной машины
                    +e.IMG.img(src='http://via.placeholder.com/257x201')
                    +e.A.read(href='/') Читать
            +e.BUTTON.button._left(href='#')
            +e.BUTTON.button._right(href='#')