include ../row/row

mixin articles()
    +row
        +b.articles
            +e.H2.title Полезные статьи
            +b.article
                +b.article-item
                    +e.A.link(href='/') Все об устройстве блокировки люка стиральной машины
                +b.article-item
                    +e.A.link(href='/') Все об устройстве блокировки люка стиральной машины
                +b.article-item
                    +e.A.link(href='/') Все об устройстве блокировки люка стиральной машины
                +b.article-item
                    +e.A.link(href='/') Все об устройстве блокировки люка стиральной машины
                +b.article-item
                    +e.A.link(href='/') Все об устройстве блокировки люка стиральной машины