.footer
  height 12rem
  flex 0 0 auto

.footer-menu
  padding-x(1.875rem)
  padding-top 2.25rem
  display flex
  justify-content space-between
  color rgb(255, 255, 255)

.footer-menu__item
  flex-basis 16.625rem

.footer-menu__logo
  display block

.footer-menu__title
  padding-bottom 0.375rem
  font-size 1rem
  display block
  text-decoration none
  color inherit
  &:hover
    text-decoration underline

.footer-sub-menu_border
  border-top solid 2px #ffffff

.footer-sub-menu__item
  padding-top 0.75rem
  font-size 0.875rem

.footer-sub-menu__link
  font-size 0.875rem
  text-decoration none
  color inherit
  &:hover
    text-decoration underline