mixin footer()
    +b.container-fluid._blue
        +b.container
            +b.row
                +b.FOOTER.footer
                    +b.UL.footer-menu
                        +e.LI.item
                            +e.A.logo(href='')
                                +e.IMG(src='../assets/img/footer-logo.png')
                            +b.UL.footer-sub-menu
                                +e.LI.item
                                    +e.A.link(href='') г.Рязань, ул. Зубковой 8А
                                +e.LI.item
                                    +e.A.link(href='') +7 (4912) 513-115
                                +e.LI.item
                                    +e.A.link(href='') info@shop-zip.ru
                        +e.LI.item
                            +e.A.title(href='') Каталог
                            +b.UL.footer-sub-menu._border
                                +e.LI.item
                                    +e.A.link(href='') Запчасти для электро- и бензо- инструмента
                                +e.LI.item
                                    +e.A.link(href='') Запчасти для бытовой техники
                                +e.LI.item
                                    +e.A.link(href='') Карта сайта
                        +e.LI.item
                            +e.A.title(href='') Услуги
                            +b.UL.footer-sub-menu._border
                                +e.LI.item
                                    +e.A.link(href='') Сервисный центр
                                +e.LI.item
                                    +e.A.link(href='') Заказ запчастей
                                +e.LI.item
                                    +e.A.link(href='') Оплата и доставка
                        +e.LI.item
                            +e.A.title(href='') Покупателю
                            +b.UL.footer-sub-menu._border
                                +e.LI.item
                                    +e.A.link(href='') Личный кабинет
                                +e.LI.item
                                    +e.A.link(href='') Полезные статьи
                                +e.LI.item
                                    +e.A.link(href='') О компании
