include ../logo/logo
include ../search/search
include ../info/info
mixin header-mobile()

    +b.header-mobile
        +b.container-fullwidth
            +b.row
                +logo
                +info
