include ../mobile-list/mobile-list
include ../logo/logo
include ../search/search
include ../info/info
include ../mobile-search/mobile-search

mixin header-mobile()
    +b.header-mobile
        +b.container-fullwidth
            +b.row
                +mobile-list
                +logo
                +info
            +b.row
                +mobile-search
