.header-mobile
  position relative
  z-index 10
  margin-bottom 2rem
  width 100%
  box-shadow 0 2px 3px 0 rgba(0,0,0,0.2)
  background-color rgb(255,255,255)
  text-align center
  +above($tablet-landspace)
    display none

.header-mobile.scroll
  animation mobile 0.5s ease forwards
  position fixed
  left 0
  top 0

@keyframes mobile
  0%
    transform: translateY(-100%)
  100%
    transform: translateY(0)